a{
  color:black;
  text-decoration:none;
}

h1{
  text-align:center;
  border-bottom:1px solid black;
  margin:0;
  padding:10px;
}

p{
  text-align: center;
  margin:40px;
}

ul{
  border-right: 1px solid black;
  margin:0;
  padding-top:30px;
}

body{
  margin:0;
}

.active{
  color:gray;
  text-decoration:underline;
}

#grid{
  display:grid;
  grid-template-columns: 200px 1fr;
}

@media(max-width:700px){
#grid{display:block;}
}
